In [1]:
!nvidia-smi  # this should display information about available GPUs

Tue May 27 14:21:26 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.144.03             Driver Version: 550.144.03     CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA A100-SXM4-80GB          On  |   00000000:B7:00.0 Off |                    0 |
| N/A   27C    P0             59W /  400W |       1MiB /  81920MiB |      0%      Default |
|                                         |                        |             Disabled |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|  No running processes found                                                             |
+-----------------------------------------------------------------------------------------+

In [2]:
import pandas as pd

In [3]:
%%time

df = pd.read_parquet("nyc_parking_violations_2022.parquet",
    columns=["Registration State", "Violation Description", "Vehicle Body Type", "Issue Date", "Summons Number"]
)

(df[["Registration State", "Violation Description"]]
 .value_counts()
 .groupby("Registration State")
 .head(1)
 .sort_index()
 .reset_index()
)

CPU times: user 4.2 s, sys: 1.06 s, total: 5.26 s
Wall time: 3.69 s

   Registration State           Violation Description  count
0                  99                            <NA>  17550
1                  AB                  14-No Standing     22
2                  AK  PHTO SCHOOL ZN SPEED VIOLATION    125
3                  AL  PHTO SCHOOL ZN SPEED VIOLATION   3668
4                  AR  PHTO SCHOOL ZN SPEED VIOLATION    537
..                ...                             ...    ...
62                 VT  PHTO SCHOOL ZN SPEED VIOLATION   3024
63                 WA    21-No Parking (street clean)   3732
64                 WI                  14-No Standing   1639
65                 WV  PHTO SCHOOL ZN SPEED VIOLATION   1185
66                 WY    21-No Parking (street clean)    138

[67 rows x 3 columns]

In [4]:
%%time

(df.groupby(["Vehicle Body Type"])
 .agg({"Summons Number": "count"})
 .rename(columns={"Summons Number": "Count"})
 .sort_values(["Count"], ascending=False)
)

CPU times: user 594 ms, sys: 98.7 ms, total: 693 ms
Wall time: 694 ms

                     Count
Vehicle Body Type
SUBN               6449007
4DSD               4402991
VAN                1317899
DELV                436430
PICK                429798
...                    ...
CARY                     1
ISUZ                     1
IXMR                     1
BILB                     1
ONEL                     1

[967 rows x 1 columns]

In [5]:
%%time

weekday_names = {
    0: "Monday",
    1: "Tuesday",
    2: "Wednesday",
    3: "Thursday",
    4: "Friday",
    5: "Saturday",
    6: "Sunday",
}

df["Issue Date"] = df["Issue Date"].astype("datetime64[ms]")
df["issue_weekday"] = df["Issue Date"].dt.weekday.map(weekday_names)

df.groupby(["issue_weekday"])["Summons Number"].count().sort_values()

CPU times: user 6.5 s, sys: 228 ms, total: 6.73 s
Wall time: 6.74 s

issue_weekday
Sunday        462992
Saturday     1108385
Monday       2488563
Wednesday    2760088
Tuesday      2809949
Friday       2891679
Thursday     2913951
Name: Summons Number, dtype: int64

In [6]:
%load_ext cudf.pandas

In [7]:
%%time

import pandas as pd

df = pd.read_parquet("nyc_parking_violations_2022.parquet",
    columns=["Registration State", "Violation Description", "Vehicle Body Type", "Issue Date", "Summons Number"]
)

(df[["Registration State", "Violation Description"]]
 .value_counts()
 .groupby("Registration State")
 .head(1)
 .sort_index()
 .reset_index()
)

CPU times: user 1.33 s, sys: 1.81 s, total: 3.14 s
Wall time: 3.8 s

   Registration State           Violation Description  count
0                  99                            <NA>  17550
1                  AB                  14-No Standing     22
2                  AK  PHTO SCHOOL ZN SPEED VIOLATION    125
3                  AL  PHTO SCHOOL ZN SPEED VIOLATION   3668
4                  AR  PHTO SCHOOL ZN SPEED VIOLATION    537
..                ...                             ...    ...
62                 VT  PHTO SCHOOL ZN SPEED VIOLATION   3024
63                 WA    21-No Parking (street clean)   3732
64                 WI                  14-No Standing   1639
65                 WV  PHTO SCHOOL ZN SPEED VIOLATION   1185
66                 WY    21-No Parking (street clean)    138

[67 rows x 3 columns]

In [8]:
%%time

(df
 .groupby(["Vehicle Body Type"])
 .agg({"Summons Number": "count"})
 .rename(columns={"Summons Number": "Count"})
 .sort_values(["Count"], ascending=False)
)

CPU times: user 12.8 ms, sys: 2.96 ms, total: 15.8 ms
Wall time: 14.5 ms

                     Count
Vehicle Body Type
SUBN               6449007
4DSD               4402991
VAN                1317899
DELV                436430
PICK                429798
...                    ...
YANT                     1
YBSD                     1
YEL                      1
YL                       1
Z1UT                     1

[967 rows x 1 columns]

In [9]:
%%time

weekday_names = {
    0: "Monday",
    1: "Tuesday",
    2: "Wednesday",
    3: "Thursday",
    4: "Friday",
    5: "Saturday",
    6: "Sunday",
}

df["Issue Date"] = df["Issue Date"].astype("datetime64[ms]")
df["issue_weekday"] = df["Issue Date"].dt.weekday.map(weekday_names)

df.groupby(["issue_weekday"])["Summons Number"].count().sort_values()

CPU times: user 66.2 ms, sys: 33.5 ms, total: 99.7 ms
Wall time: 177 ms

issue_weekday
Sunday        462992
Saturday     1108385
Monday       2488563
Wednesday    2760088
Tuesday      2809949
Friday       2891679
Thursday     2913951
Name: Summons Number, dtype: int64

In [10]:
len(df)

15435607

In [11]:
%%cudf.pandas.profile

small_df = pd.DataFrame({'a': ["0", "1", "2"], 'b': ["x", "y", "z"]})
small_df = pd.concat([small_df, small_df])

axis = 0
for i in range(0, 2):
    small_df.min(axis=axis)
    axis = i

counts = small_df.groupby("a").b.count()

                                        Total time elapsed: 0.215 seconds
                                      7 GPU function calls in 0.028 seconds
                                      0 CPU function calls in 0.000 seconds

                                                      Stats

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
┃ Function            ┃ GPU ncalls ┃ GPU cumtime ┃ GPU percall ┃ CPU ncalls ┃ CPU cumtime ┃ CPU percall ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━╇━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━╇━━━━━━━━━━━━━┩
│ DataFrame           │ 1          │ 0.003       │ 0.003       │ 0          │ 0.000       │ 0.000       │
│ concat              │ 1          │ 0.006       │ 0.006       │ 0          │ 0.000       │ 0.000       │
│ DataFrame.min       │ 2          │ 0.008       │ 0.004       │ 0          │ 0.000       │ 0.000       │
│ DataFrame.groupby   │ 1          │ 0.000       │ 0.000       │ 0          │ 0.000       │ 0.000       │
│ GroupBy.__getattr__ │ 1          │ 0.001       │ 0.001       │ 0          │ 0.000       │ 0.000       │
│ GroupBy.count       │ 1          │ 0.008       │ 0.008       │ 0          │ 0.000       │ 0.000       │
└─────────────────────┴────────────┴─────────────┴─────────────┴────────────┴─────────────┴─────────────┘

In [12]:
%%cudf.pandas.line_profile

small_df = pd.DataFrame({'a': ["0", "1", "2"], 'b': ["x", "y", "z"]})
small_df = pd.concat([small_df, small_df])

axis = 0
for i in range(0, 2):
    small_df.min(axis=axis)
    axis = 1

counts = small_df.groupby("a").b.count()

                                             Total time elapsed: 0.728 seconds

                                                           Stats

┏━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
┃ Line no. ┃ Line                                                                     ┃ GPU TIME(s) ┃ CPU TIME(s) ┃
┡━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━╇━━━━━━━━━━━━━┩
│ 2        │     small_df = pd.DataFrame({'a': ["0", "1", "2"], 'b': ["x", "y", "z"]… │ 0.002794387 │             │
│          │                                                                          │             │             │
│ 3        │     small_df = pd.concat([small_df, small_df])                           │ 0.006050389 │             │
│          │                                                                          │             │             │
│ 5        │     axis = 0                                                             │             │             │
│          │                                                                          │             │             │
│ 6        │     for i in range(0, 2):                                                │             │             │
│          │                                                                          │             │             │
│ 7        │         small_df.min(axis=axis)                                          │ 0.003842243 │ 0.008023648 │
│          │                                                                          │             │             │
│ 8        │         axis = 1                                                         │             │             │
│          │                                                                          │             │             │
│ 10       │     counts = small_df.groupby("a").b.count()                             │ 0.012855046 │             │
│          │                                                                          │             │             │
└──────────┴──────────────────────────────────────────────────────────────────────────┴─────────────┴─────────────┘

In [13]:
!pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /home/smith.kaleb/.local/lib/python3.11/site-packages (6.1.1)
Requirement already satisfied: narwhals>=1.15.1 in /home/smith.kaleb/.local/lib/python3.11/site-packages (from plotly) (1.41.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from plotly) (24.1)

In [14]:
!pip install plotly[express]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly[express] in /home/smith.kaleb/.local/lib/python3.11/site-packages (6.1.1)
Requirement already satisfied: narwhals>=1.15.1 in /home/smith.kaleb/.local/lib/python3.11/site-packages (from plotly[express]) (1.41.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from plotly[express]) (24.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.11/site-packages (from plotly[express]) (1.26.4)

In [20]:
import plotly.io as pio
pio.renderers.default = 'iframe'
import plotly.express as px

df = df.rename(columns={
    "Registration State": "reg_state",
    "Vehicle Body Type": "vehicle_type",
})

# vehicle counts per state:
counts = df.groupby("reg_state").size().sort_index()
# vehicles with type "PICK" (Pickup Truck)
pickup_counts = df.where(df["vehicle_type"] == "PICK").groupby("reg_state").size()
# percentage of pickup trucks by state:
pickup_frac = ((pickup_counts / counts) * 100).rename("% Pickup Trucks")
del pickup_frac["MB"]  # (Manitoba is a huge outlier!)

# plot the results:
pickup_frac = pickup_frac.reset_index()
fig=px.choropleth(pickup_frac, locations="reg_state", color="% Pickup Trucks", locationmode="USA-states", scope="usa")
fig.show()